.logout {
	font-size: 20px;
	padding: 10px;
}

.post-zone {
	margin-bottom: 10px;
	border-radius: 7px;
	padding: 10px;
}

.title-zone {
	background-color: blue;
}

.content-zone {
	background-color: gold;
}

.category-zone {
	background-color: orange;
}