body {
	background: #fafafa;
	/*background-image: url('/static/images/backgrond.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;*/
}

a:hover {
	text-decoration: none;
}

img {
	cursor: pointer;
}

.error-msg, .error {
	color: red;
}

nav.navbar.shrink {
  height: 50px !important;
}

nav.navbar{
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand a{
	color: white;
	padding: 0px;
}

ul.main-ul {
	list-style: none;
}

#main-container {
	margin: 0 auto;
	margin-top: 140px;
	width: 60%
}

#news-container {
	transform: translate(40%);
}

.single-news-box {
	margin: 0 auto;
}

.single-news-box div {
	margin-bottom: 15px;
}

.image-container img{
	display: block;
	width: 100%;
	max-height: 400px;
	margin: 0 auto;
}

.single-news {
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #efefef;
	padding: 35px 50px;
	margin-bottom: 50px;
}

.my-navigation {
	position: fixed;
	padding-top: 30px;
}

.my-navigation .item img, .facebook-like{
	display: block;
	margin: 0 auto;
	width: 55px;
}

.my-navigation .item {
	margin-top: 50px;
}

.right-side-navbar a + a{
	margin-left: 50px;
}

.img-responsive {
	padding: 10px 0px;
	max-width: 100%;
}

.rfi-image {
	width: 100%;
	padding-left: 5%;
}

.news-link:hover{
	text-decoration: none;
}

#next {
	display: none;
}

.main-navbar {
	background-color: #fff;
	border-bottom: 1px solid #efefef;
}

.navbar-brand {
	background-image: url(/static/images/logo_test.png);
    background-size: 100%;
    height: 35px;
    /*position: absolute;*/
    text-indent: -9999em;
    top: 6px;
    cursor: pointer;
}


.time {
	font-size: 10px;
    letter-spacing: .2px;
    line-height: 18px;
    vertical-align: baseline;
    text-transform: uppercase;
    color: #999;
}

.fb-share-button {
	float: right;
}

.about-page {
	text-align: center;
	margin-bottom: 50px;
}

.about-page h4 {
	width: 100%;
}

@media only screen and (max-width: 5500px) {
    .main-navbar {
    	height: 80px;
	}

	.navbar-brand {
		width: 176px;
	    left: 16px;
	}
}

@media only screen and (max-width: 900px) {
    .main-navbar {
    	height: 75px;
	}

	.navbar-brand {
		width: 160px;
	    left: 16px;
	}

	.single-news {
		padding: 25px 25px;
	}
}

@media only screen and (max-width: 765px) {
	.my-navigation {
		display: none;
	}


	#news-container {
		transform: none;
	}

	.single-news {
		padding: 20px 20px;
	}

	#main-container {
		width: 75%;
	}
}

@media only screen and (max-width: 500px) {
	.navbar-brand {
		width: 120px;
	    left: 10px;
	}

	.right-side-navbar img {
		width: 25px;
	}

	.right-side-navbar a + a{
		margin-left: 30px;
	}

	.single-news {
		padding: 20px 10px;
	}

	#main-container {
		width: 100%;
	}
}

@media only screen and (max-width: 300px) {
    .main-navbar {
    	height: 65px;
	}

	.navbar-brand {
		width: 100px;
	    left: 5px;
	}
}