{% extends "templates/base.html" %}

{% block content %}

	<div class="modal-content about-page">
		<div class="modal-header">
			<h4 class="modal-title">Atakaice</h4>
		</div>
		<div class="modal-body">
			<p>
				Wannan kafa ce da take zakulo labaru daga kafaffe ingantattu sannan ta 
				adanasu a wuri guda dumin saukaka samin labarai cikin kan kanin lokaci.
			</p>
		</div>
	</div>

{% endblock %}