{% extends "templates/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-10">
           <h2> Hi, {{ admin.name }}! <span class="logout">[ <a href="/admin/logout">logout</a> ]</span></h2>
        </div>
        <div class="col-md-2">
            {% if admin.level == 1 %}
            <button data-toggle="modal" data-target="#inviteModal" type="button" class="btn btn-secondary">Send Invitation</button>
            <div id="inviteModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Invite Admin</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form id="sendInvitation" method="post" action="/admin/invite">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="name" name="name" class="form-control" id="name" placeholder="Muhammad Ali" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="maliyu@gmail.com" required>
                        </div>
                        <div class="form-group">
                            <label for="level">Level</label>
                            <select class="custom-select" id="level" name="level">
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3" selected>Three</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
      <form action="" class="admin-form" method="POST" enctype="multipart/form-data">
        <div class="post-zone title-zone">
          <div class="form-group">
              <label for="title">Title</label>
              <input type="text" name="title" class="form-control" id="title" placeholder="Kannun Labari">
          </div>      
        </div>

        <div class="post-zone content-zone">
          <div class="form-group">
              <label for="news">News</label>
              <textarea class="form-control" name="content" id="news" placeholder="Takaitaccen Labari"></textarea>
          </div>
          <div class="form-group">
              <label for="photo">Photo</label>
              <input type="file" class="form-control" name="photo" id="photo" />
          </div>
          <div class="form-group">
              <label for="photo">Video</label>
              <input type="file" class="form-control" name="video" id="video" />
          </div>
        </div>

        <div class="post-zone category-zone">
          <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" name="category">
                <option value="politics">Politics</option>
                <option value="education" selected>Education</option>
                <option value="science">Science</option>
                <option value="technology">Technology</option>
                <option value="entertainment">Entertainment</option>
              </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>

{% endblock %}