{% extends "templates/base.html" %}

{% block content %}
<div>
    <h2>Admin Registration</h2>
</div>

<div class="form">
    <form action="" method="POST">
        <div class="form form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="fullname">Full Name</label>
                </div>
                <div class="col-md-3"> 
                    <input name="name" type="text" placeholder="Full Name" class="form-control" id="fullname" value="{{ name }}" required>
                </div>
                <div class="col-md-4 error-msg">
                    <p>{{ error_name }}</p>
                </div>
            </div>
        </div>
        <div class="form form-group">
            <div class="row has-error">
                <div class="col-md-2">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-3"> 
                    <input name="email" class="form-control" placeholder="name@example.com" type="email" id="email" value="{{ email }}" required readonly>
                    <input name="code" type="hidden" value="{{ code }}" required>
                </div>
                <div class="col-md-4 error-msg">
                    <p>{{ error_email }}</p>
                </div>
            </div>
        </div>
        <div class="form form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-3"> 
                    <input name="password" type="password" placeholder="password" class="form-control" id="password" value="{{ password }}" required>
                </div>
                <div class="col-md-4 error-msg">
                    <p>{{ error_password }}</p>
                </div>
            </div>
        </div>
        <div class="form form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="repassword">Re Password</label>
                </div>
                <div class="col-md-3"> 
                    <input name="repassword" type="password" placeholder="confirm password" class="form-control" id="repassword" value="{{ repassword }}" required>
                </div>
            </div>
        </div>
        <div class="form form-group">
            <div class="row">
                <div class="col-md-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}