{% extends "templates/base.html" %}

{% block content %}
<div class="container">
    <div>
        <h2>Log In</h2>
    </div>

    <div class="form">
        <form action="" method="POST">
            <div class="form form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="email">Email / Phone</label>
                    </div>
                    <div class="col-md-3"> 
                        <input name="email" class="form-control" type="text" id="email" value="{{ email }}" required>
                    </div>
                </div>
            </div>
            <div class="form form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-md-3"> 
                        <input name="password" class="form-control" type="password" id="password" value="{{ password }}" required>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <p class="error-msg pull-right">
                    {{ error_msg }}
                </p>
            </div>
            <div class="form form-group">
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}