<!DOCTYPE html>
<html>
<head>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Labaru Atakice</title>
	{% endif %}
	
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

	<script src="/static/js/jquery.foggy.min.js"></script>
	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<meta>
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/admin-page.css">
		<link href="/static/css/toastr.min.css" rel="stylesheet" type="text/css" media="all" />
	</meta>
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="/static/js/infinite-scroll.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/toastr.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/additional-methods.min.js"></script>
</head>
<body>
	<nav class="navbar main-navbar fixed-top">
		<div class="container">
		  <div class="navbar-brand">
		  	<a href="/">Atakaice</a>
		  </div>
		  <div class="form-inline right-side-navbar">
		  	<a href="/about">
			    <div>
			    	<img src="/static/images/about.png">
			    </div>
			</a>
		    <a href="/contact">
			    <div>
			    	<img src="/static/images/contact.png">
			    </div>
		    </a>
		  </div>
		</div>
	</nav>

	<div class="container" id="main-container">
		{% block content %}{% endblock %}
	</div>
	
	<div id="footer">
		<center>
			<footer>
				Copyright &copy; Atakaice Inc. 2017
			</footer>
		</center>
	</div>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>