{% extends "templates/base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="modal-header">
			<h4 class="modal-title">Tura Sako / Kira</h4>
		</div>
		<div class="modal-body">
			<form id="sendMessage">
				<div class="form-group">
					<label for="name">Suna</label>
					<input type="name" name="name" class="form-control" id="name" placeholder="Cikakken Suna" required>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Email</label>
					<input type="email" name="email" class="form-control" id="email" placeholder="suna@example.com" required>
				</div>
				<div class="form-group">
					<label for="exampleFormControlInput1">Lambar Waya</label>
					<input type="phone" name="phone" class="form-control" id="phone" placeholder="0813453454">
				</div>
					<div class="form-group">
					<label for="message">Sako / Message</label>
					<textarea class="form-control" name="message" id="message" rows="3" placeholder="rubuta sakon ka" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<div>
				Ko kuma a tura sakon email
			</div>
		<p>contact@atakaice.com</p>
		</div>
	</div>
</div>

{% endblock %}