<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="static/js/jquery.foggy.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta>
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
	</meta>
	<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="static/js/jquery.infinitescroll.js"></script>
    <script type="text/javascript" src="static/js/moment.min.js"></script>
</head>
<body>