{% extends "templates/base.html" %}

{% block content %}
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.async=true;
js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=1073621369415346';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div class="my-navigation col-md-2">
		<div class="item">
			<div class="facebook-like">
				<div class="fb-like" data-href="https://www.facebook.com/duniyar.hausa" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true">
				</div>
			</div>
		</div>
		<div class="item">
			<a href="https://twitter.com/atakaice" target="_blank">
			<img src="/static/images/twitter.png">
			</a>
		</div>
		<div class="item">
			<a href="https://instagram.com/atakaiceinc" target="_blank"><img src="/static/images/instagram.png"></a>
		</div>
	</div>
	<div id="news-container" class="col-md-8 col-sm-12">
	{% for news in labarai %}
		<div class="row single-news">
			<div class="well col-md-12">
				<h2><a class="news-link" href="/labari/{{news.key.id()}}"> {{news.title}} </a></h2>
				<div>
					{% if news.image %}
						{% if news.source != 'RFI' %}
							<img src="{{ news.image }}" class="img-responsive">
						{%  else %}
							<img src="{{ news.image }}" class="img-responsive rfi-image">
						{% endif %}
					{% else %}
						{% if news.files and news.source != 'RFI' %}
							<img src="{{news.files[0]}}" class="img-responsive">
						{%  elif news.files %}
							<img src="{{news.files[0]}}" class="img-responsive rfi-image">
						{% endif %}
					{% endif %}
					{{news.description}}
					<br>
					<span class="time raw-time">{{news.pubDate}}</span>
					<br>
					{{news.source}}
					  <div class="fb-share-button" 
					    data-href="https://atakaice.com/labari/{{news.key.id()}}"
					    data-size="large"
					    data-mobile_iframe="true">	
					  </div>
				</div>
			</div>
		</div>
	{% endfor %}
	<a href="/kgi43" id="next">next page</a>
	</div>
</div>
{% endblock %}