<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img width="120px" height="50px" src="/static/images/logo.png"></a>
    </div>
    <ul class="nav navbar-nav">
    	<li></li>
    </ul>
  </div>
</nav>