{% extends "templates/base.html" %}

{% block content %}
	<div class="col-md-10 single-news-box">

		<div class="title-container">
			<h2>{{ labari.title }}</h2>
		</div>

		<div class="image-container">
			{% if labari.image %}
				<img src="{{ labari.image }}" alt="{{ labari.title }}">
			{% elif labari.files %}
				<img src="{{ labari.files[0] }}" alt="{{ labari.title }}">
			{% endif %}
		</div>

		<div class="description-container">
			<p>{{ labari.description }}</p>
		</div>
			
		<div class="source-container">
			{% if labari.link %}
				<h4><a href="{{ labari.link }}">{{ labari.source }}</a></h4>
			{% else %}
				<h4>{{ labari.source }}</h4>
			{% endif %}
		</div>

		<div class="more-container">
			<center>
				<h3><a href="/">Karin Labarai</a></h3>
			</center>
		</div>
		
	</div>

{% endblock %}